#main{
	text-align: left;
	width: 65vw;
	margin: 0 auto;
	padding: 2.5vw;/*1em;*/
	background-color: lightseagreen;
	color: white;
}
#head, #head3{
	margin-bottom: 5%;
	text-align: center;
}
#head3{
	margin-bottom: 5%;
}
#inhalt{
	color: black;
	padding: 1vw 1vw;	
	background-color: white;
}
#uheader{
	/*display: flex;*/
	display: block;
}
#uheader3{
	display: flex;
}
.left{
	float: left;
}
.right{
	float: right;
}
.center{
	display: inline-block;
	margin:0 auto;
}
/*#vorschau{
	max-width: 20vw;
	max-height: 20vw;
	margin-left: auto;
	margin-right: auto;
	display: block;
}/*
#vorschau:hover{
	max-width: 62vw;
}*/
body{
	background-color: lightgrey;
	font-family:veranda,sans-serif;
	font-size: 2.5vw;
}
h1{
	font-size: 5vw;
}
h2{
	font-size: 3vw;
}
div, span,a{
	border-radius: 0.7rem;	
}
#inhalt a{
	color: rgb(21, 114, 109);
}
.btn{
	border: 1px solid white;
	padding: 5px;
}
.btn:hover{
	color: rgb(21, 114, 109);
	background-color: rgba( 92, 192, 192, 15);
}
a{
	color: white;
	text-decoration: none;
}
::selection, ::-moz-selection{
	background: rgb(29,114,110);
	color: white;
}
li{
	list-style: none;
}
img{
	max-width: 25vw;
}
#bilder{
	display: inline-grid;
	border-spacing: 10px;
}
#bilder img, #bilder, #vorschau{
	transition: 2s;
	-moz-transition: 2s;
	-o-transition: 2s;
	-webkit-transition: 2s;
	/*margin: 0 auto;*/
}
/*#bilder*/ img:hover{
	max-width: 62vw;
}
