#main{
	text-align: left;
	max-width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
}
body{
	background-color: lightgrey;
	font:veranda,sans-serif;
}
h1,h2{
	text-align: center;
}
div.btn{
	border: 1px solid red;
	max-width: 150px;
	border-radius: 0.4rem;
}
div.btns{
	display: flex;
	align-items: stretch;
}
a{
	font-color: white;
}
