#main{
	text-align: left;
	max-width: 400px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
	background-color: lightseagreen;
	color: white;
}
#head{
	padding-bottom: 20px;	
	margin-bottom: 20px;
}
#inhalt{
	color: black;
	padding: 10px;	
	background-color: whithe;
}
body{
	background-color: lightgrey;
	font-family:veranda,sans-serif;
}
h1,h2{
	text-align: center;
}
div.btn{
	border: 1px solid red;
	max-width: 150px;
	border-radius: 0.4rem;
	margin-left: 50%;
}
div.btns{
	display: flex;
	align-items: stretch;
}
a{
	font-color: white;
}
